
<div class="container p-5">
  <div class="row justify-content-around">
    <% @cocktails.each do |cocktail| %>
    <div class="card-product m-1 col-lg-3 col-md-4 col-sm-12">

      <%= link_to(cocktail.name, cocktail_path(cocktail)) %>
    </div>
    <% end %>
  </div>
</div>

  <div class="container d-flex justify-content-center">
    <%= link_to "Add a new cocktail", new_cocktail_path(@cocktail), :class => "button" %>
  </div>
